<form [formGroup]="taskFormGroup" (keydown.enter)="onSubmit()">
  <div
    class="container"
    fxLayout="row"
    fxLayoutAlign="start start"
    fxLayoutGap="30px"
  >
    <div fxFlex="100%" fxFlexFill>
      <app-user-select
        (selectionChange)="userSelected($event)"
        [value]="data.user_id"
        [required]="true"
      ></app-user-select>
    </div>
  </div>

  <div
    class="container"
    fxLayout="row"
    fxLayoutAlign="start start"
    fxLayoutGap="30px"
  >
    <div fxFlex="30%" fxFlexFill>
      <app-priority-select
        (selectionChange)="prioritySelected($event)"
        [value]="data.priority_id"
        [required]="true"
      ></app-priority-select>
    </div>

    <div fxFlex="30%" fxFlexFill>
      <app-status-select
        (selectionChange)="statusSelected($event)"
        [value]="data.status_id"
        [required]="true"
      ></app-status-select>
    </div>

    <div fxFlex="40%">
      <mat-form-field>
        <input
          #effective_duration
          matInput
          placeholder="Duração Efetiva"
          formControlName="effective_duration"
          type="number"
          min="0"
        />
        <mat-hint class="mat-caption">Tempo estimado em minutos </mat-hint>
        <mat-error
          *ngIf="taskFormGroup?.get('effective_duration')?.hasError('min')"
        >
          Duração deve ser maior que 0
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div
    class="container"
    fxLayout="row"
    fxLayoutAlign="start start"
    fxLayoutGap="30px"
  >
    <div fxFlex="100%" fxFlexFill>
      <mat-form-field>
        <input
          #name
          matInput
          placeholder="Nome"
          formControlName="name"
          cdkFocusInitial
        />
        <mat-hint class="mat-caption">Nome da Tarefa</mat-hint>
        <mat-error *ngIf="taskFormGroup?.get('name')?.hasError('required')">
          Nome é obrigatório
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div
    class="container"
    fxLayout="row"
    fxLayoutAlign="start start"
    fxLayoutGap="30px"
  >
    <div fxFlex="100%" fxFlexFill>
      <mat-form-field>
        <textarea
          #description
          matInput
          placeholder="Descrição"
          formControlName="description"
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="7"
          cdkAutosizeMaxRows="10"
        ></textarea>
        <mat-hint class="mat-caption">Descrição</mat-hint>
      </mat-form-field>
    </div>
  </div>
</form>
