<div class="container">
  <app-loading-spinner [loading$]="dataSource.loading$"></app-loading-spinner>

  <app-table-search-field
    (search)="search($event)"
    hint="Insira o nome do projeto que deseja localizar"
  ></app-table-search-field>

  <table
    mat-table
    class="mat-elevation-z8 full-width-table"
    matSort
    aria-label="Elements"
  >
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
      <td mat-cell *matCellDef="let row">{{ row.name }}</td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Descrição</th>
      <td mat-cell *matCellDef="let row">{{ row.description }}</td>
    </ng-container>

    <!-- Estimated Duration Column -->
    <ng-container matColumnDef="estimated_duration">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Duração Estimada
      </th>
      <td mat-cell *matCellDef="let row">
        {{
          row.estimated_duration
            ? row.estimated_duration + " minutos"
            : "Não informado"
        }}
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th></th>
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Descrição</th>
      <td mat-cell *matCellDef="let row">
        <button mat-button color="primary" (click)="open(row)">
          <mat-icon matSuffix>launch</mat-icon>Abrir
        </button>
        <button
          *ngIf="!row.deleted_at"
          mat-button
          color="primary"
          (click)="openEditDialog(row)"
        >
          <mat-icon matSuffix>edit</mat-icon>Editar
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (dblclick)="onRowDoubleClick(row)"
    ></tr>
  </table>

  <mat-paginator
    #paginator
    class="mat-elevation-z8"
    [length]="dataSource.getCount()"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="pageSizeOptions"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
