.container {
  padding-top: 20px;
}

.full-width-table {
  width: 96%;
  margin: 0 auto;
  margin-top: 20px;
}

mat-paginator {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.mat-column-id {
  width: 75px;
}

.mat-column-checkbox {
  width: 75px;
}

.mat-column-actions {
  min-width: 130px;
}

.mat-column-description {
  min-width: 250px;
}

.mat-mdc-footer-row {
  font-weight: bold;
}
